# Dependency directories
node_modules/
jspm_packages/

# Firebase cache and logs
.firebase/
*-debug.log
.runtimeconfig.json

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Temporary files (e.g. MS Office temporary files)
~$*
*.tmp
*.bak
